/* IMPORT
---------------------------------------------------------------------------------------------------- */
@import "/css/vendor/reset.css" all;
@import "/css/vendor/arcticmodal/jquery.arcticmodal-0.3.css" all;
@import "/css/vendor/jquery.jscrollpane.css" all;

@import "/css/layers/base/debug.css" all;
@import "/css/layers/base/layout.css" all;
@import "/css/layers/base/styles.css" all;
@import "/css/layers/base/oxygen-forms.css" all;
@import "/css/layers/base/iosslider.css" all;

@import "/css/layers/styles/styles.css" all;
@import "/css/layers/styles/content.css" all;

@import "/css/layers/project/layout.css" all;
@import "/css/layers/project/unit.css" all;
@import "/css/layers/project/icons.css" all;
@import "/css/layers/project/dialog.css" all;

/* Pages */
@import "/css/layers/project/pages/index.css" all;
@import "/css/layers/project/pages/content.css" all;
@import "/css/layers/project/pages/news.css" all;
@import "/css/layers/project/pages/article.css" all;
@import "/css/layers/project/pages/catalog.css" all;
@import "/css/layers/project/pages/catalog-item.css" all;
@import "/css/layers/project/pages/basket.css" all;
@import "/css/layers/project/pages/search.css" all;
@import "/css/layers/project/pages/shop-map.css" all;
@import "/css/layers/project/pages/thanks.css" all;
@import "/css/layers/project/pages/error404.css" all;
@import "/css/layers/project/pages/profile.css" all;
@import "/css/layers/project/pages/my-orders.css" all;

@import "/css/layers/project/project.css" all;

/* RESPONSIVE
---------------------------------------------------------------------------------------------------- */
@import url(/css/media/phone.css) all and (max-width: 640px);
@import url(/css/media/tablet.css) all and (min-width: 641px) and (max-width: 940px);

/* FONTS
   http://www.google.com/webfonts
---------------------------------------------------------------------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic);

@font-face {
    font-family: 'PFSquareSansProBold';
    src: url('http://www.samsung.com//ru/common/font/pfsquaresanspro-bold-webfont.eot');
    src: url('http://www.samsung.com//ru/common/font/pfsquaresanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('http://www.samsung.com//ru/common/font/pfsquaresanspro-bold-webfont.woff') format('woff'),
         url('http://www.samsung.com//ru/common/font/pfsquaresanspro-bold-webfont.ttf') format('truetype'),
         url('http://www.samsung.com//ru/common/font/pfsquaresanspro-bold-webfont.svg#PFSquareSansProBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFSquareSansProRegular';
    src: url('http://www.samsung.com//ru/common/font/pfsquaresanspro-regular-webfont.eot');
    src: url('http://www.samsung.com//ru/common/font/pfsquaresanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.samsung.com//ru/common/font/pfsquaresanspro-regular-webfont.woff') format('woff'),
         url('http://www.samsung.com//ru/common/font/pfsquaresanspro-regular-webfont.ttf') format('truetype'),
         url('http://www.samsung.com//ru/common/font/pfsquaresanspro-regular-webfont.svg#PFSquareSansProRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFSquareSansProMedium';
    src: url('http://www.samsung.com//ru/common/font/pfsquaresanspro-medium-webfont.eot');
    src: url('http://www.samsung.com//ru/common/font/pfsquaresanspro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.samsung.com//ru/common/font/pfsquaresanspro-medium-webfont.woff') format('woff'),
         url('http://www.samsung.com//ru/common/font/pfsquaresanspro-medium-webfont.ttf') format('truetype'),
         url('http://www.samsung.com//ru/common/font/pfsquaresanspro-medium-webfont.svg#PFSquareSansProMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFSquareSansProLight';
    src: url('http://www.samsung.com//ru/common/font/pfsquaresanspro-light-webfont.eot');
    src: url('http://www.samsung.com//ru/common/font/pfsquaresanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.samsung.com//ru/common/font/pfsquaresanspro-light-webfont.woff') format('woff'),
         url('http://www.samsung.com//ru/common/font/pfsquaresanspro-light-webfont.ttf') format('truetype'),
         url('http://www.samsung.com//ru/common/font/pfsquaresanspro-light-webfont.svg#PFSquareSansProLight') format('svg');
    font-weight: normal;
    font-style: normal;
}