<figure class="unit unit__new cols-2 mod">
  <a href="/catalog_show.html" class="unit_a">
    <img src="/img/fake/unit_02.jpg" alt="Samsung GT-I9300 GALAXY S III 16 Gb" width="185" height="185" class="unit_img">
  </a>
  <figcaption class="unit_figcaption">
    <div class="unit_label">новинка</div>
    <p class="unit_type">Цифровая фотокамера</p>
    <p class="unit_name"><a href="/catalog_show.html">Lorem ipsum dolor sit amet, consectetur.</a></p>
    <div class="unit_price">
      <div class="unit_sum price price__rub js-price-format">24990</div>
    </div>
  </figcaption>
</figure>