<figure class="unit cols-2 mod">
  <a href="/catalog_show.html" class="unit_a">
    <img src="/img/fake/unit_03.jpg" alt="Samsung GT-I9300 GALAXY S III 16 Gb" width="185" height="185" class="unit_img">
  </a>
  <figcaption class="unit_figcaption">
    <p class="unit_type">Планшет</p>
    <p class="unit_name"><a href="/catalog_show.html">Samsung серии 5 Ultra 530U3C-A0E, 13,3", Core i5 1,7 ГГц, 4 ГБ, 500 ГБ HDD + 24 ГБ SDD</a></p>
    <div class="unit_price">
      <div class="unit_discount js-price-format">18300</div>
      <div class="unit_sum price price__rub js-price-format">24990</div>
    </div>
  </figcaption>
</figure>