<figure class="unit cols-2 mod">
  <a href="/catalog_show.html" class="unit_a">
    <img src="/img/fake/unit_01.jpg" alt="Samsung GT-I9300 GALAXY S III 16 Gb" width="185" height="185" class="unit_img">
  </a>
  <figcaption class="unit_figcaption">
    <p class="unit_type">Смартфон</p>
    <p class="unit_name"><a href="/catalog_show.html">Samsung GT-I9300 GALAXY S III 16 Gb</a></p>
    <div class="unit_price">
      <div class="unit_sum price price__rub js-price-format">24990</div>
    </div>
  </figcaption>
</figure>