html {height: 100%;}

button, input, select, textarea, th, td {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* CONTAINER
---------------------------------------------------------------------------------------------------- */
.ctn {
  margin: 0 auto;
  width: 860px;
}

/* MODULE
---------------------------------------------------------------------------------------------------- */
.mod {
  display: inline-block;
  vertical-align: top;
}

/* COLUMNS
---------------------------------------------------------------------------------------------------- */
.cols {margin: 0 0 -20px -20px;}
  
  /* Gutter */
  .cols > [class*="cols-"] {
    margin: 0 0 20px 20px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

  /* Width */
  .cols-1 {width: 90px;}
  .cols-2 {width: 200px;}
  .cols-3 {width: 310px;}
  .cols-4 {width: 420px;}
  .cols-5 {width: 530px;}
  .cols-6 {width: 640px;}
  .cols-7 {width: 750px;}
  .cols-8 {width: 860px;} 

  /* Offset */
  .offset-1 {margin-left: 110px;}
  .offset-2 {margin-left: 220px;}
  .offset-3 {margin-left: 330px;}
  .offset-4 {margin-left: 440px;}
  .offset-5 {margin-left: 550px;}
  .offset-6 {margin-left: 660px;}
  .offset-7 {margin-left: 770px;}
  .offset-8 {margin-left: 880px;} 

  .cols > .offset-1  {margin-left: 130px !important;}
  .cols > .offset-2  {margin-left: 240px !important;}
  .cols > .offset-3  {margin-left: 350px !important;}
  .cols > .offset-4  {margin-left: 460px !important;}
  .cols > .offset-5  {margin-left: 570px !important;}
  .cols > .offset-6  {margin-left: 680px !important;}
  .cols > .offset-7  {margin-left: 790px !important;}
  .cols > .offset-8  {margin-left: 900px !important;} 

/* BOTTOM INDENT
---------------------------------------------------------------------------------------------------- */
.m-b_2  {margin-bottom: 2rem !important;}
.m-b_4  {margin-bottom: 4rem !important;}
.m-b_6  {margin-bottom: 6rem !important;}
.m-b_8  {margin-bottom: 8rem !important;}
.m-b_10 {margin-bottom: 10rem !important;}