<div class="dialog dialog__geo">

  <a href="#" class="dialog_close"><img src="/img/close.png" alt="Закрыть"></a>

  <div class="cols">
    <div class="cols-2 mod">
      <h3 class="dialog_title">Ваш город</h3>
    </div><div class="cols-2 mod">
      <label class="dialog_remember form_label"><span class="form_checkbox__fake form_el__fake"><input type="checkbox" class="form_checkbox__real form_el__real"></span> Запомнить меня</label>
    </div>
  </div>  

  <div class="cols">
    <div class="cols-2 mod">
      <ul class="location">
        <li class="location_i"><a href="#" class="location_a">Москва</a></li>
        <li class="location_i"><a href="#" class="location_a">Воронеж</a></li>
        <li class="location_i"><a href="#" class="location_a">Екатеринбург</a></li>
        <li class="location_i"><a href="#" class="location_a">Краснодар</a></li>
        <li class="location_i"><a href="#" class="location_a">Астрахань</a></li>
        <li class="location_i"><a href="#" class="location_a">Белгород</a></li>
        <li class="location_i"><a href="#" class="location_a">Волгоград</a></li>
        <li class="location_i"><a href="#" class="location_a">Калининград</a></li>
        <li class="location_i"><a href="#" class="location_a">Липецк</a></li>
      </ul>
    </div><div class="cols-2 mod">
      <ul class="location">
        <li class="location_i"><span class="location_a location_a__current">Нижний Новгород</span></li>
        <li class="location_i"><a href="#" class="location_a">Новосибирск</a></li>
        <li class="location_i"><a href="#" class="location_a">Омск</a></li>
        <li class="location_i"><a href="#" class="location_a">Оренбург</a></li>
        <li class="location_i"><a href="#" class="location_a">Ростов на Дону</a></li>
        <li class="location_i"><a href="#" class="location_a">Самара</a></li>
        <li class="location_i"><a href="#" class="location_a">Саратов</a></li>
        <li class="location_i"><a href="#" class="location_a">Сочи</a></li>
        <li class="location_i"><a href="#" class="location_a">Сургут</a></li>
      </ul>
    </div><div class="cols-2 mod">
      <ul class="location">
        <li class="location_i"><a href="#" class="location_a">Тольятти</a></li>
        <li class="location_i"><a href="#" class="location_a">Тула</a></li>
        <li class="location_i"><a href="#" class="location_a">Пермь</a></li>
        <li class="location_i"><a href="#" class="location_a">Рязань</a></li>
        <li class="location_i"><a href="#" class="location_a">Санкт-Петербург</a></li>
        <li class="location_i"><a href="#" class="location_a">Челябинск</a></li>
        <li class="location_i"><a href="#" class="location_a">Уфа</a></li>
      </ul>
    </div>
  </div>

</div>