<footer id="footer" class="footer" role="contentinfo">
  <div class="ctn">

    <div class="cols m-b_4">
      <nav class="cols-1 mod footer-nav clearfix">
        <h6 class="footer-nav_header"><a href="#">О наc</a></h6>
        <a href="#" class="footer-nav_i footer-nav_a">О компании</a>
        <a href="#" class="footer-nav_i footer-nav_a">Реквизиты</a>
      </nav><nav class="cols-2 mod footer-nav clearfix">
        <h6 class="footer-nav_header"><a href="#">О наших продуктах</a></h6>
        <span class="footer-nav_i">Мобильные устройства</span>
        <a href="/catalog.html" class="footer-nav_i footer-nav_a">Мобильные телефоны</a>
        <a href="/catalog.html" class="footer-nav_i footer-nav_a">Смартфоны и коммуникаторы</a>
        <a href="/catalog.html" class="footer-nav_i footer-nav_a">Телефоны с 2 SIM-картами</a>
        <a href="/catalog.html" class="footer-nav_i footer-nav_a">Samsung GALAXY Note</a>
        <a href="/catalog.html" class="footer-nav_i footer-nav_a">Планшеты</a>
      </nav><nav class="cols-1 mod footer-nav clearfix">
        <h6 class="footer-nav_header">&nbsp;</h6>
        <span class="footer-nav_i">Компьютеры</span>
        <a href="/catalog.html" class="footer-nav_i footer-nav_a">Стационарные</a>
        <a href="/catalog.html" class="footer-nav_i footer-nav_a">Ноутбуки</a>
      </nav><nav class="cols-2 mod footer-nav clearfix" style="padding-left: 30px;">
        <h6 class="footer-nav_header">&nbsp;</h6>
        <span class="footer-nav_i">Аксессуары</span>
        <a href="/catalog.html" class="footer-nav_i footer-nav_a">Зарядные устройства</a>
        <a href="/catalog.html" class="footer-nav_i footer-nav_a">Настенные</a>
        <a href="/catalog.html" class="footer-nav_i footer-nav_a">Чехлы/пленки</a>
        <a href="/catalog.html" class="footer-nav_i footer-nav_a">Держатели в автомобиль</a>
        <a href="/catalog.html" class="footer-nav_i footer-nav_a">Устройства передачи данных</a>
        <a href="/catalog.html" class="footer-nav_i footer-nav_a">Гарнитуры</a>
        <a href="/catalog.html" class="footer-nav_i footer-nav_a">Персональные комплекты</a>
        <a href="/catalog.html" class="footer-nav_i footer-nav_a">Клавиатуры/мыши</a>
        <a href="/catalog.html" class="footer-nav_i footer-nav_a">Сумки/рюкзаки</a>
        <a href="/catalog.html" class="footer-nav_i footer-nav_a">Аккумуляторы</a>
        <a href="/catalog.html" class="footer-nav_i footer-nav_a">Наушники</a>
      </nav><nav class="cols-2 mod footer-nav clearfix">
        <h6 class="footer-nav_header"><a href="#">Чем мы можем помочь</a></h6>
        <a href="#" class="footer-nav_i footer-nav_a">О компании</a>
        <a href="#" class="footer-nav_i footer-nav_a">Статьи</a>
        <a href="#" class="footer-nav_i footer-nav_a">Контактная информация</a>
        <a href="#" class="footer-nav_i footer-nav_a">На сайт компании</a>
        <!--#include virtual="/views/common/_social.html" -->
      </nav>
    </div>

    <div class="footer_copyright"><p>Copyright© 2012 ЗАО «Носимо»</p></div>
    
  </div>
</footer>