<!-- data-price - цена за еденицу продукции, нужна для JS -->
<div class="basket-goods-i" data-price="25590">
  <div class="cols">
    <div class="cols-1 mod">
      <img src="/img/fake/unit_01.jpg" alt="Samsung GT-I9300 GALAXY S III 16 Gb" width="90" class="basket-goods-i_img">
    </div><div class="cols-4 mod">
      <div class="m-b_1">
        <p class="tx__small">Смартфон</p>
        <p><a href="/catalog_show.html" class="basket-goods-i_a">Samsung GT-I9300 GALAXY S III 16 Gb</a></p>
        <p>Краткое описание c выжимкой. Яркий дисплей 4.3”. Аппаратная кнопка. Андроид 4.1. Аккумулятор на 8 часов.</p>
      </div>
      <p><a href="#" class="a__pseudo a__inner tx__small">+ <span>Добавить аксессуары</span></a></p>
    </div><div class="cols-1 mod">
      <p class="m-b_2"><i>Количество</i></p>
      <div class="basket-goods-i-count">
        <div class="basket-goods-i-count_control basket-goods-i-count_control__minus">-</div>
        <input type="text" class="basket-goods-i-count_input" value="1">
        <div class="basket-goods-i-count_control basket-goods-i-count_control__plus">+</div>
      </div>
    </div><div class="cols-2 mod p-r">
      <p class="m-b_1"><i>Цена</i></p>
      <div class="show-price"><div class="show-price_sum price price__rub js-price-format js-price">25590</div></div>
      <p class="tx__small js-summary-info">1 × 25 590 руб.</p>
      <a href="#" class="basket-goods-i_remove"><img src="/img/remove.png" alt=""></a>
    </div>
  </div>
</div>