<figure class="basket-units-i clearfix">
  <img src="/img/fake/img_72_72.jpg" alt="" class="basket-units-i_img">
  <figcaption class="basket-units-i_caption">
    <p class="tx__small">Зарядное устройство</p>
    <p><a href="#" class="basket-units-i_a">Зарядное устройство Автомобильное micro USB</a></p>
    <div class="d-ib p-r">
      <div class="basket-units-i_price price price__rub js-price-format">680</div>
      <a href="#"><img src="/img/add.png" alt="" class="basket-units-i_add"></a>
    </div>
  </figcaption>
</figure>