<div class="my-orders_i">

  <div class="cols">
    <div class="cols-2 mod">
      <p><b>№12382 231 231</b></p>
      <p>Макбук, наушники, iPod</p>
      <p><a href="#" class="a__pseudo tx__small js-show_details" style="margin-top: 1rem;">Показать подробности</a></p>
    </div><div class="cols-1 mod">
      <p class="tx__muted">12.12.2012</p>
      <p class="tx__muted">18:40</p>
    </div><div class="cols-2 mod">
      <div class="show-price"><div class="show-price_sum price price__rub js-price-format js-price">25590</div></div>
      <p class="tx__small js-summary-info">1 × 25 590 руб.</p>
    </div><div class="cols-2 mod">
      <p>Передан в доставку</p>
      <!--<p class="tx__success">Доставлен</p>-->
      <p class="tx__small tx__muted">14 декабря, 14:34 </p>
    </div><div class="cols-1 mod">
      <label class="form_label"><span class="form_checkbox__fake form_el__fake" data-checked="false"><input type="checkbox" class="form_checkbox__real form_el__real"></span> СМС</label>
      <label class="form_label"><span class="form_checkbox__fake form_el__fake" data-checked="false"><input type="checkbox" class="form_checkbox__real form_el__real"></span> E-mail</label>
    </div>
  </div>

  <div class="my-orders_details">
    <div class="my-orders_details_goods m-b_2">
      <div class="cols m-b_2">
        <div class="cols-1 mod ta-r">
          <img src="/img/fake/unit_01.jpg" alt="Samsung GT-I9300 GALAXY S III 16 Gb" width="50" class="basket-goods-i_img">
        </div><div class="cols-3 mod">
          <p class="tx__small">Смартфон</p>
          <p><a href="/catalog_show.html" class="basket-goods-i_a">Samsung GT-I9300 GALAXY S III 16 Gb</a></p>
        </div><div class="cols-2 mod">
          <div class="show-price"><div class="show-price_sum price price__rub js-price-format js-price">25590</div></div>
          <p class="tx__small js-summary-info">1 × 25 590 руб.</p>
        </div>
      </div>
      <div class="cols">
        <div class="cols-1 mod ta-r">
          <img src="/img/fake/unit_01.jpg" alt="Samsung GT-I9300 GALAXY S III 16 Gb" width="50" class="basket-goods-i_img">
        </div><div class="cols-3 mod">
          <p class="tx__small">Смартфон</p>
          <p><a href="/catalog_show.html" class="basket-goods-i_a">Samsung GT-I9300 GALAXY S III 16 Gb</a></p>
        </div><div class="cols-2 mod">
          <div class="show-price"><div class="show-price_sum price price__rub js-price-format js-price">25590</div></div>
          <p class="tx__small js-summary-info">1 × 25 590 руб.</p>
        </div>
      </div>
    </div>
    <div class="my-orders_details_summary m-b_2">
      <div class="cols">
        <div class="cols-4 mod">
          <p>Доставка курьером по адресу: Москва, ул. Академика Янгеля, д.3, кв 56.</p>
        </div><div class="cols-2 mod">
          <p class="tx__large"><b>бесплатно</b></p>
        </div><div class="cols-4 mod">
          <p>Бонус Много.ру по карте №34732-4332-4923</p>
        </div><div class="cols-2 mod">
          <div class="show-price"><div class="show-price_sum price price__rub js-price-format js-total-price">500</div></div>
        </div><div class="cols-4 mod">
          <p>Бонус Samsung по карте №3432-3240</p>
        </div><div class="cols-2 mod">
          <div class="show-price"><div class="show-price_sum price price__rub js-price-format js-total-price">1500</div></div>
        </div>
      </div>
    </div>
    <a href="#" class="a__pseudo tx__small js-hide_details">Скрыть подробности</a>
  </div>

</div>