<div class="my-orders_i">
  <div class="cols">
    <div class="cols-2 mod">
      <p><b>№12382 231 231</b></p>
      <p>Макбук, наушники, iPod</p>
      <p><a href="#" class="a__pseudo tx__small" style="margin-top: 1rem;">Показать подробности</a></p>
    </div><div class="cols-1 mod">
      <p class="tx__muted">12.12.2012</p>
      <p class="tx__muted">18:40</p>
    </div><div class="cols-2 mod">
      <div class="show-price"><div class="show-price_sum price price__rub js-price-format js-price">25590</div></div>
      <p class="tx__small js-summary-info">1 × 25 590 руб.</p>
    </div><div class="cols-2 mod">
      <p>Передан в доставку</p>
      <!--<p class="tx__success">Доставлен</p>-->
      <p class="tx__small tx__muted">14 декабря, 14:34 </p>
    </div><div class="cols-1 mod">
      <label class="form_label"><span class="form_checkbox__fake form_el__fake" data-checked="false"><input type="checkbox" class="form_checkbox__real form_el__real"></span> СМС</label>
      <label class="form_label"><span class="form_checkbox__fake form_el__fake" data-checked="false"><input type="checkbox" class="form_checkbox__real form_el__real"></span> E-mail</label>
    </div>
  </div>
</div>