<div class="dialog dialog__change-password">

  <a href="#" class="dialog_close"><img src="/img/close.png" alt="Закрыть"></a>

  <h3 class="dialog_title">Изменить пароль</h3>

  <form class="form">
    <div class="form_row m-b_4">
      <label class="form_label"><i>Старый пароль</i></label>
      <input type="password" class="form_text form_el__block">
    </div>
    <div class="form_row">
      <label class="form_label"><i>Новый</i></label>
      <input type="password" class="form_text form_el__block">
    </div>
    <div class="form_row">
      <label class="form_label"><i>Еще раз</i></label>
      <input type="password" class="form_text form_el__block">
    </div>
    <input type="submit" class="form_button" value="Изменить">
  </form>

</div>