<div class="dialog dialog__login">

  <a href="#" class="dialog_close"><img src="/img/close.png" alt="Закрыть"></a>

  <h3 class="dialog_title">Вход</h3>

  <form class="form">
    <div class="form_row">
      <label class="form_label"><i>Имя</i></label>
      <input type="text" class="form_text form_el__block">
    </div>
    <div class="form_row">
      <label class="form_label"><i>Пароль</i></label>
      <input type="password" class="form_text form_el__block">
    </div>
    <div class="form_row">
      <div class="clearfix">
        <div class="f-l"><label class="form_label"><span class="form_checkbox__fake form_el__fake" data-checked="false"><input type="checkbox" class="form_checkbox__real form_el__real"></span> Запомнить меня</label></div>
        <div class="f-r" style="margin-top: .3rem;"><a href="#" class="a__pseudo" data-dialog="recover-password">Забыли пароль?</a></div>
      </div>
    </div>
    <div class="clearfix">
      <div class="f-l"><input type="submit" class="form_button" value="Войти"></div>
      <div class="f-r" style="margin-top: .7rem;"><a href="#" class="a__pseudo" data-dialog="register">Зарегистрироваться</a></div>
    </div>
  </form>

</div>

<script type="text/javascript">
  $(function() {
    forms.init();
  });
</script>