<div class="dialog dialog__recover-password">

  <a href="#" class="dialog_close"><img src="/img/close.png" alt="Закрыть"></a>

  <h3 class="dialog_title">Восстановить пароль</h3>

  <form class="form">
    <div class="form_row">
      <label class="form_label"><i>Ваш e-mail</i></label>
      <input type="text" class="form_text form_el__block">
    </div>
    <div class="form_row">
      <p>Введите адрес эл.почты, который вы&nbsp;указывали при регистрации. Мы&nbsp;пришлем пароль туда.</p>
    </div>
    <input type="submit" class="form_button" value="Восстановить">
  </form>

</div>