<div class="dialog dialog__register">

  <a href="#" class="dialog_close"><img src="/img/close.png" alt="Закрыть"></a>

  <h3 class="dialog_title">Регистрация</h3>

  <form class="form">
    <div class="form_row">
      <label class="form_label"><i>Имя</i></label>
      <input type="text" class="form_text form_el__block">
    </div>
    <div class="form_row">
      <label class="form_label"><i>E-mail</i></label>
      <input type="text" class="form_text form_el__block">
    </div>
    <div class="form_row">
      <label class="form_label"><i>Пароль</i></label>
      <input type="password" class="form_text form_el__block">
    </div>
    <div class="clearfix">
      <div class="f-l"><input type="submit" class="form_button" value="Зарегистрироваться"></div>
      <div class="f-r" style="margin-top: .7rem;"><a href="#" class="a__pseudo" data-dialog="login">Войти</a></div>
    </div>
  </form>

</div>