<div class="dialog dialog__register">

  <a href="#" class="dialog_close"><img src="/img/close.png" alt="Закрыть"></a>

  <h3 class="dialog_title">Бронировать товар</h3>
  <p class="m-b_2">Это товар отложат специально для вас в&nbsp;магазине. Вам останется только прийти, оплатить и&nbsp;забрать.</p>

  <form class="form">
    <div class="form_row">
      <label class="form_label"><i>Город</i></label>
      <div class="form_select__fake form_el__fake form_el__block">
        <p>Москва</p>
        <select class="form_select__real form_el__real">
          <option>Москва</option>
          <option>Смоленск</option>
        </select>
      </div>
    </div>
    <div class="form_row">
      <label class="form_label"><i>Магазин</i></label>
      <div class="form_select__fake form_el__fake form_el__block">
        <p>ТЦ «Кантемировская»</p>
        <select class="form_select__real form_el__real">
          <option>ТЦ «Кантемировская»</option>
          <option>ТЦ «Кантемировская»</option>
        </select>
      </div>
    </div>
    <div class="form_row">
      <label class="form_label"><i>Имя</i></label>
      <input type="text" class="form_text form_el__block">
    </div>
    <div class="form_row">
      <label class="form_label"><i>Телефон</i></label>
      <input type="text" class="form_text form_el__block">
    </div>
    <div class="form_row">
      <label class="form_label"><i>E-mail</i></label>
      <input type="password" class="form_text form_el__block">
    </div>
    <div class="clearfix">
      <div class="f-l"><input type="submit" class="form_button" value="Отложить"></div>
      <div class="f-r" style="margin-top: .7rem;"><a href="#">Хочу в кредит</a></div>
    </div>
  </form>

</div>