<ul class="rating">
  <li class="rating_i">
    <div class="rating_stars-readonly"></div>
    <div class="rating_title">общий рейтинг</div>
  </li>
  <li class="rating_i">
    <div class="rating_stars-readonly"></div>
    <div class="rating_title">быстродействие</div>
  </li>
  <li class="rating_i">
    <div class="rating_stars-readonly"></div>
    <div class="rating_title">дизайн</div>
  </li>
  <li class="rating_i">
    <div class="rating_stars-readonly"></div>
    <div class="rating_title">надёжность</div>
  </li>
  <li class="rating_i">
    <div class="rating_stars-readonly"></div>
    <div class="rating_title">спектр возможностей</div>
  </li>
  <li class="rating_i">
    <div class="rating_stars-readonly"></div>
    <div class="rating_title">удобство</div>
  </li>
</ul>