<div class="reviews_i">
  <div class="reviews_i_user">Сергей Галицкий, <span class="reviews_i_user_date">12 декабря 2012</span></div>
  <div class="reviews_i_hr"></div>
  <div class="cols">
    <div class="cols-5 mod">
      <article class="m-b_2">
        <p><b>Достоинства</b></p>
        <p>Телефон КЛАСС!!! До это был 3GS все хотел поменять на 4GS ,но меня останавливало стеклянный корпус. С выходом пятерки понял ,что не зря ждал. Айфон 5 оправдал все ожидания, по скорости и дизайну, и экрану.</p>
      </article>
      <article class="m-b_2">
        <p><b>Недостатки</b></p>
        <p>Сменили разьём пришлось покупать переходники, но это мелочь.</p>
      </article>
      <article class="m-b_2">
        <p><b>Комментарий</b></p>
        <p>Отличный телефон!!! Лучше просто не существует. Зарядку держит не хуже 4с. Экран отпад) Цвета выражены ярко. Очень быстрая и стабильная ось. У меня черный и он пока не поцарапался)) Короче не слушайте никого,кто говорит что то плохое про этот телефон! Просто купите и Вы будете в восторге.</p>
      </article>
    </div><div class="cols-3 mod">

    </div>
  </div>
</div>