<div class="thanks-goods_i">
  <div class="cols">
    <div class="cols-1 mod">
      <img src="/img/blank.gif" alt="Samsung GT-I9300 GALAXY S III 16 Gb" width="90" height="60" class="thanks-goods_i_img placeholder">
    </div><div class="cols-3 mod">
      <p class="tx__small">Смартфон</p>
      <p><b>Samsung GT-I9300 GALAXY S III 16 Gb</b></p>
    </div><div class="cols-2 mod">
      <div class="show-price"><div class="show-price_sum price price__rub js-price-format">25590</div></div>
      <p class="tx__small">1 × <span class="js-price-format">25590</span> руб.</p>
    </div>
  </div>
</div>