<div class="thanks-summary">
  <div class="thanks-summary_i">
    <div class="cols">
      <div class="cols-3 mod">
        <p><span class="thanks-summary_i_label">Бонусная карта</span> <b class="tx__large">3243-34234-23423</b></p>
      </div><div class="cols-1 mod">
        <p class="ta-r">Цена</p>
      </div><div class="cols-2 mod">
        <div class="show-price"><div class="show-price_sum price price__rub js-price-format">25590</div></div>
      </div>
    </div>
  </div>
  <div class="thanks-summary_i">
    <div class="cols">
      <div class="cols-3 mod">
        <p><span class="thanks-summary_i_label">Карта Много.ру</span> <b class="tx__large">2342-1465-7646</b></p>
      </div><div class="cols-1 mod">
        <p class="ta-r">Доставка</p>
      </div><div class="cols-2 mod">
        <p class="tx__large"><b>Бесплатно</b></p>
      </div>
    </div>
  </div>
  <div class="thanks-summary_i">
    <div class="cols">
      <div class="cols-3 mod">
        <p><span class="thanks-summary_i_label">Бонусный код </span> <b class="tx__large">RESR777</b></p>
      </div><div class="cols-1 mod">
        <p class="ta-r tx__color">Итого</p>
      </div><div class="cols-2 mod">
        <div class="show-price"><div class="show-price_sum price price__rub js-price-format tx__color">25590</div></div>
      </div>
    </div>
  </div>
</div>