/* CATALOG PAGE
---------------------------------------------------------------------------------------------------- */
.page__catalog {

}

  /* Sort */
  .catalog-filter-sort {
    font-size: 1.2rem;
    vertical-align: baseline;
    white-space: nowrap;
  }

  /* Filter */
  .catalog-filter {
    background: #f8f8f8;
  }

    /* Form */
    .catalog-filter_form {

    }
      .catalog-filter .form_label {
        cursor: pointer;
        margin-bottom: .9rem;
        padding-left: 2.5rem;
        position: relative;
        z-index: 1000;
      }
      .catalog-filter .form_el__fake {
        left: 0;
        position: absolute;
        z-index: 1001;
      }

      /* Header */
      .catalog-filter_header {
        background: #0051a0;
        color: #fff;
        margin-bottom: 17px;
        padding: 1.6rem 0 .6rem;
        position: relative;
        text-transform: uppercase;
        text-align: center;
        z-index: 9999;
      }
        .catalog-filter_header:before, .catalog-filter_header:after {
          bottom: -15px;
          content: '';
          height: 0;
          left: 0;
          position: absolute;
          width: 0;
          z-index: 1001;
        }
        .catalog-filter_header:before {
          border-left: 100px solid transparent;
          border-top: 15px solid #0051a0;
        }
        .catalog-filter_header:before {
          border-right: 100px solid transparent;
          border-top: 15px solid #0051a0;
        }

      /* Section block */
      .catalog-filter_section {
        padding: 1.3rem 1.5rem .6rem;
      }
      .catalog-filter_section__bordered {
        border-bottom: 1px solid #e0e0e0;
      }
      .catalog-filter_section .form_label {
        display: block;
      }
        .catalog-filter_t {
          font-weight: 700;
          margin-bottom: .7rem;
          position: relative;
          z-index: 9999;
        }
          .catalog-filter_t span {
            position: relative;
          }
          .catalog-filter_help {
            background: #00a9e0;
            border-radius: 50%;
            bottom: 1rem;
            color: #fff;
            height: 10px;
            font-size: .8rem;
            line-height: 10px;
            position: absolute;
            right: -1.4rem;
            text-align: center;
            text-decoration: none;
            width: 10px;
            z-index: 1001;
          }
          .catalog-filter_help:hover {color: #fff;}
          .catalog-filter_tooltip {
            background: #fff;
            border: 1px solid #3f94bb;
            font-size: 1.4rem;
            font-weight: 100;
            padding: 1rem;
            position: absolute;
            width: 230px;
            z-index: 9999;
          }

        /* Range slider */
        .catalog-filter_range {
          margin-top: 1.5rem;
          width: 100%;
        }
          .catalog-filter_range .ui-slider {
            background: #e2e2e2;
            border-radius: 3px;
            height: 4px;
            margin-bottom: 2rem;
            position: relative;
            width: 100%;
            z-index: 1000;
          }
            .catalog-filter_range .ui-slider-range {
              background: #0982d3;
              height: 100%;
              position: absolute;
              z-index: 1001;
            }
            .catalog-filter_range .ui-slider-handle {
              background: #0982d3;
              border: none;
              border-radius: 50%;
              box-shadow: none;
              height: 14px;
              margin-left: -7px;
              padding: 0;
              position: absolute;
              top: -5px;
              width: 14px;
              z-index: 1001;
            }
            .catalog-filter_range .ui-slider-handle:focus {
              outline: none;
            }
          .catalog-filter_amount {
            height: 27px;
            font-size: 1.2rem;
            margin-left: 3px;
            padding: 0 5px;
            width: 60px;
          }
          .catalog-filter_amount__min {
            text-align: left;
          }
          .catalog-filter_amount__max {
            text-align: right;
          }

      /* Footer */
      .catalog-filter_footer {
        text-align: center;
        position: relative;
        top: 16px;
        z-index: 1000;
      }