/* SHOP MAP
---------------------------------------------------------------------------------------------------- */
.page__shop-map {

}

/* Map */
.yandex-map {
  height: 300px;
  margin-bottom: 2rem;
  width: 100%;
}

/* Shop filter */
.shops-filter {
  margin-bottom: 2rem;
}
.shop-filter_noctidial {
  position: relative;
  top: 2.2rem;
  z-index: 1000;
}

/* Shop */
.shops {

}
.shops_i {
  border-top: 1px solid #ececec;
  padding: 2rem 0;
}
.shops_i:last-child {
  margin-bottom: 0;
}
.shops_i_metro {
  margin-top: .7rem;
}
.shops_i_t {
  margin-bottom: .5rem;
}
.shops_i_t > a {
  text-decoration: none;
}
.shops_i_t > a:hover {
  text-decoration: underline;
}
.shops_i_caption {
  margin-bottom: 1rem;
}
.shops_i_datetime {
  margin-bottom: 1rem;
}
.shops_i_datetime_t {
  font-size: 2.4rem;
}
.shops_i_datetime_t sup {
  font-size: 1.4rem;
}

/* Branch */
.shops_i_branch {
  height: 7px;
  margin-top: 1rem;
  position: relative;
  width: 53px;
  z-index: 1000;
}
.shops_i_branch:before {
  background: #fff;
  border: 5px solid;
  border-radius: 50%;
  content: '';
  height: 9px;
  left: 17px;
  position: absolute;
  top: -6px;
  width: 9px;
  z-index: 1001;
}

/* Green */
.shops_i_branch.__green {background: #00a81c;}
.shops_i_branch.__green:before {border-color: #00a81c;}

/* Cyan */
.shops_i_branch.__cyan {background: #09bdf3;}
.shops_i_branch.__cyan:before {border-color: #09bdf3;}

/* Blue */
.shops_i_branch.__blue {background: #006cb9;}
.shops_i_branch.__blue:before {border-color: #006cb9;}

/* Purple */
.shops_i_branch.__purple {background: #863896;}
.shops_i_branch.__purple:before {border-color: #863896;}

/* Gray */
.shops_i_branch.__gray {background: #999;}
.shops_i_branch.__gray:before {border-color: #999;}

/* Lightgreen */
.shops_i_branch.__lightgreen {background: #add136;}
.shops_i_branch.__lightgreen:before {border-color: #add136;}

/* Orange */
.shops_i_branch.__orange {background: #f67821;}
.shops_i_branch.__orange:before {border-color: #f67821;}

/* Red */
.shops_i_branch.__red {background: #ed1f15;}
.shops_i_branch.__red:before {border-color: #ed1f15;}

/* Brown */
.shops_i_branch.__brown {background: #874a30;}
.shops_i_branch.__brown:before {border-color: #874a30;}

/* Yellow */
.shops_i_branch.__yellow {background: #fdcb2d;}
.shops_i_branch.__yellow:before {border-color: #fdcb2d;}

/* Grayblue */
.shops_i_branch.__grayblue {background: #a6bce2;}
.shops_i_branch.__grayblue:before {border-color: #a6bce2;}