/* THANKS PAGE
---------------------------------------------------------------------------------------------------- */
.page__thanks {

}

/* Header */
.thanks_h {
  text-align: center;
}
.thanks_h_t {
  color: #0982d3;
  margin-bottom: 2rem;
}
.thanks_h_tx {

}

/* Body */
.thanks_b {

}

/* Order */
.thanks-order {

}