/* THANKS PAGE
---------------------------------------------------------------------------------------------------- */
.page__thanks {

}

/* Header */
.thanks_h {
  margin-bottom: 4rem;
  text-align: center;
}
.thanks_h_t {
  color: #0982d3;
  margin-bottom: 2rem;
}
.thanks_h_tx {

}

/* Body */
.thanks_b {

}

/* Title */
.thanks-t {
  margin-bottom: 2rem;
}

/* Goods */
.thanks-goods {
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 2rem;
}
.thanks-goods_i {
  padding: 2rem 0;
}
.thanks-goods_i_img {
  vertical-align: top;
}

/* Summary */
.thanks-summary {

}
.thanks-summary_i {
  height: 2rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}
.thanks-summary_i_label {
  display: inline-block;
  width: 11rem;
}
.thanks-summary_i .show-price {
  margin-top: -.6rem;
}

/* Map */
.thanks-map {
  position: relative;
}
.thanks-map_print {
  border: 4px solid #f8f8f8;
  left: 50%;
  position: absolute;
  top: 339px;
	-webkit-transform: translate(-50%, 0);
  -moz-transform:    translate(-50%, 0);
  -ms-transform:     translate(-50%, 0);
  -o-transform:      translate(-50%, 0);
  transform:         translate(-50%, 0);
}

/* Manager */
.thanks_manager {
  margin-top: 7rem;
}
.thanks_manager.__credit {
  margin-top: 1rem;
}
