html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
  background: #fff;
  color: #333;
  font-weight: 400;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  min-width: 880px;
}

hr {
  margin: 0;
  border: 0;
}

img {
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}

menu, ol, ul {list-style: none;}

/* LINKS
---------------------------------------------------------------------------------------------------- */
a {
  display: inline-block;
  color: #0982d3;
}
a:hover  {color: #0982d3;}
a:active {color: #0982d3;}

/* HEADERS
---------------------------------------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-family: 'PFSquareSansProMedium', "PT Sans", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 4rem;
  line-height: 1;
}
h2 {
  font-size: 3.5rem;
  line-height: 1;
}
h3 {
  font-size: 3rem;
  line-height: 1.125;
}
h4 {
  font-size: 2.5rem;
  line-height: 1.25;
}
h5 {
  font-size: 2rem;
  line-height: 1.375;
}
h6 {
  font-size: 1.8rem;
  line-height: 1.5;
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a,
h1 > .a__inner > span,
h2 > .a__inner > span,
h3 > .a__inner > span,
h4 > .a__inner > span,
h5 > .a__inner > span,
h6 > .a__inner > span {
  font-family: 'PFSquareSansProRegular', "PT Sans", Helvetica, Arial, sans-serif;
}

/* FORM ELEMENTS
---------------------------------------------------------------------------------------------------- */
button, input, select, textarea {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input::-ms-clear {display: none;}

textarea {resize: none;}

/* PROPERTIES
---------------------------------------------------------------------------------------------------- */
/* Font-style */
.fs-i {font-style: italic;}

/* Font-weight */
.fw-100 {font-weight: 100;} /* Ultra-Light */
.fw-200 {font-weight: 200;} /* Light */
.fw-300 {font-weight: 300;} /* Book */
.fw-400 {font-weight: 400;} /* Normal */
.fw-500 {font-weight: 500;} /* Medium */
.fw-600 {font-weight: 600;} /* Semi-Bold */
.fw-700 {font-weight: 700;} /* Bold */
.fw-800 {font-weight: 800;} /* Extra-Bold */
.fw-900 {font-weight: 900;} /* Ultra-Bold */

/* Text-align */
.ta-l {text-align: left;}
.ta-c {text-align: center;}
.ta-r {text-align: right;}

/* Text-transform */
.tt-lc {text-transform: lowercase;}
.tt-uc {text-transform: uppercase;}

/* Vertical-align */
.va-bl {vertical-align: baseline;}
.va-t  {vertical-align: top;}
.va-m  {vertical-align: middle;}
.va-b  {vertical-align: bottom;}

/* TEXT
---------------------------------------------------------------------------------------------------- */
.tx__small  {font-size: 1.2rem;}
.tx__normal {font-size: 1.4rem !important;}
.tx__large  {font-size: 1.8rem;}

/* LINKS
---------------------------------------------------------------------------------------------------- */
.a__inner {text-decoration: none;}
.a__inner > img,
.a__inner > span {display: inline-block;} 
.a__inner > img  {
  margin-top: -.1em;
  vertical-align: middle;
}

/* none/none */
/*a, a:hover {text-decoration: none;}*/

/* underline/underline */
/*a, a:hover,
.a__inner > span {text-decoration: underline;}
.a__inner:hover {text-decoration: none;}*/

/* underline/none */
a, .a__inner > span {text-decoration: underline;}
a:hover, .a__inner:hover > span {text-decoration: none;}

/* none/underline */
/*a, .a__inner:hover {text-decoration: none;}
a:hover, .a__inner:hover > span {text-decoration: underline;}*/

/* PSEUDOLINKS
---------------------------------------------------------------------------------------------------- */
.a__pseudo {line-height: .95;}
.a__pseudo,
.a__pseudo:hover,
.a__pseudo.a__inner > span {text-decoration: none;}

.a__black, .a__black:hover {color: #333;}

/* underline/underline */
.a__pseudo,
.a__pseudo.a__inner > span {border-bottom: .1em dotted #0982d3;}
.a__pseudo:hover,
.a__pseudo.a__inner:hover > span {border-bottom-color: #0982d3;}
.a__pseudo:active,
.a__pseudo.a__inner:active > span {border-bottom-color: #0982d3;}
.a__pseudo.a__inner {border-bottom-color: transparent;}

/* underline/none */
/*.a__pseudo,
.a__pseudo.a__inner > span {border-bottom: .1em dotted mediumblue;}
.a__pseudo.a__inner,
.a__pseudo:hover,
.a__pseudo.a__inner:hover > span {border-bottom-color: transparent;}*/

/* DATETIME
---------------------------------------------------------------------------------------------------- */
.datetime {
  color: #999;
  font-size: 1.2rem;
  line-height: 1.2rem;
}

/* PRICE
---------------------------------------------------------------------------------------------------- */
.price:after {
  content: 'руб.';
  font-size: 1.8rem;
  font-weight: 400;
  margin-left: .5rem;
}

/* CUSTOM LIST
---------------------------------------------------------------------------------------------------- */
.custom-list {

}
  .custom-list li {
    padding-left: 25px;
    position: relative;
    z-index: 1000;
  }
    .custom-list li:before {
      color: #0982d3;
      content: '— ';
      left: 5px;
      position: absolute;
      z-index: 1001;
    }

/* SHOW MORE
---------------------------------------------------------------------------------------------------- */
.show-more {
  background: #f8f8f8;
  border-radius: .5rem;
  display: inline-block;
  height: 3.3rem;
  line-height: 3.3rem;
  padding: 0 1.5rem;
}
  .show-more_a {
    border-color: #333;
    color: #333;
    font-size: 1.2rem;
  }
  .show-more_a:hover {
    border-color: #333;
    color: #333;
  }

/* SHOW PRICE
---------------------------------------------------------------------------------------------------- */
.show-price {

}
  .show-price_discount {
    text-decoration: line-through;
  }
  .show-price_sum {
    font-family: 'PFSquareSansProBold', "PT Sans", Helvetica, Arial, sans-serif;
    font-size: 3rem;
    font-weight: 700;
  }

/* BORDERED
---------------------------------------------------------------------------------------------------- */
.bordered {
  border: 1px solid #eaeaea;
}

/* CONFIGURATION
---------------------------------------------------------------------------------------------------- */
.configuration {

}
  .configuration_h {
    margin-bottom: 1rem;
  }

/* HR
---------------------------------------------------------------------------------------------------- */
.hr {

}
.hr__shadow {
  background: #ffffff;
  background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f3f3f3));
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%);
  background: -o-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%);
  background: -ms-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%);
  background: linear-gradient(to bottom,  #ffffff 0%,#f3f3f3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 );
  height: 1rem;
}
.hr__undertab {
  position: relative; 
  top: 41px; 
  z-index: -1;
}

/* INSERT IMAGE
---------------------------------------------------------------------------------------------------- */
.insert-img {
  text-align: center;
}
  .insert-img_caption {
    color: #666;
    font-size: 1.4rem;
    font-style: italic;
  }
  .insert-img_caption__side {
    position: absolute;
    right: -220px;
    z-index: 1001;
    width: 200px;
  }
  .insert-img_caption__center {
    display: inline-block;
    margin-top: 2rem;
    text-align: center;
  }

/* PROGRESS
---------------------------------------------------------------------------------------------------- */
.progress {
  background: #eaeaea;
  display: inline-block;
  border-radius: 3px;
  height: 8px;
  position: relative;
  width: 100%;
  z-index: 1000;
  vertical-align: middle;
}
  .progress__small:after, .progress__normal:after, .progress__large:after {
    background: #4fcffb;
    background: -moz-linear-gradient(top,  #4fcffb 0%, #0d98ce 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4fcffb), color-stop(100%,#0d98ce));
    background: -webkit-linear-gradient(top,  #4fcffb 0%,#0d98ce 100%);
    background: -o-linear-gradient(top,  #4fcffb 0%,#0d98ce 100%);
    background: -ms-linear-gradient(top,  #4fcffb 0%,#0d98ce 100%);
    background: linear-gradient(to bottom,  #4fcffb 0%,#0d98ce 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fcffb', endColorstr='#0d98ce',GradientType=0 );
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 1001;
  } 
  .progress__small:after {
    border-radius: 3px 0 0 3px;
    width: 30%;
  }
  .progress__normal:after {
    border-radius: 3px 0 0 3px;
    width: 50%;
  }
  .progress__large:after {
    border-radius: 3px;
    width: 100%;
  }
  .progress__small:before, .progress__normal:before, .progress__large:before, .progress__none:before {
    color: #999;
    font-size: 1rem;
    left: 0;
    position: absolute;
    top: 8px;
    z-index: 1001;
  }
  .progress__small:before {
    content: 'мало';
  }
  .progress__normal:before {
    content: 'несколько';
  }
  .progress__large:before {
    content: 'много';
  }
  .progress__none:before {
    content: 'нет';
  }
