<figure class="shops_i">
  <div class="cols">
    <div class="cols-2 mod">
      <div class="shops_i_metro">
        <p>м. Тверская</p>
        <div class="shops_i_branch __green"></div>
        <div class="shops_i_branch __cyan"></div>
        <div class="shops_i_branch __blue"></div>
        <div class="shops_i_branch __purple"></div>
        <div class="shops_i_branch __gray"></div>
        <div class="shops_i_branch __lightgreen"></div>
        <div class="shops_i_branch __orange"></div>
        <div class="shops_i_branch __red"></div>
        <div class="shops_i_branch __brown"></div>
        <div class="shops_i_branch __yellow"></div>
        <div class="shops_i_branch __grayblue"></div>
      </div>
    </div><div class="cols-4 mod">
      <h4 class="shops_i_t"><a href="#">ТРК «Континент» на Звездной</a></h4>
      <figcaption class="shops_i_caption">
        <p>Москва, Дмитровское шоссе, 163А, 1 этаж</p>
        <p>8 (812) 677-03-43</p>
      </figcaption>
      <div class="cols">
        <div class="cols-1 mod">
          <a href="#" class="a__pseudo">Как пройти</a>
        </div><div class="cols-1 mod">
        <a href="#" class="a__pseudo">Как проехать</a>
      </div>
      </div>
    </div><div class="cols-2 mod">
      <div class="shops_i_datetime">
        <p class="shops_i_datetime_t">10<sup>00</sup>—22<sup>00</sup></p>
        <p>пн—пт</p>
      </div>
      <div class="shops_i_datetime">
        <p class="shops_i_datetime_t">11<sup>00</sup>—24<sup>00</sup></p>
        <p>сб и вс</p>
      </div>
    </div>
  </div>
</figure>