.hidden-phone,
.visible-desktop {display: none !important;}
.hidden-desktop,
.visible-phone   {display: inherit !important;}

.units-slider-controls {display: none;}
.unit__new .unit_label:before {display: none;}
.header-phone_number {font-size: 2rem;}