/* DIALOG
---------------------------------------------------------------------------------------------------- */
.dialog {
  background: #fff;
  border-radius: .5rem;
  padding: 3rem 0;
  position: relative;
  width: 640px;
  z-index: 9999;
}
  .dialog_close {
    height: 23px;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 23px;
    z-index: 9999;
  }
  .dialog_title {
    border-bottom: 3px solid #0982d3;
    display: inline-block;
    margin-bottom: 2.5rem;
    margin-left: 4rem;
  }
  .dialog_remember {
    cursor: pointer;
    margin-left: 4rem;
    position: relative;
    top: 1rem;
  }
    .dialog_remember .form_el__fake {
      position: relative;
      top: 3px;
    }

/* LOCATION DIALOG
---------------------------------------------------------------------------------------------------- */
.location {

}
  .location_i {
    margin-bottom: 1rem;
    margin-left: 4rem;
  }
    .location_a {
      border-bottom: 1px dashed #000;
      color: #323536;
      font-size: 1.6rem;
      text-decoration: none;
    }
    .location_a:hover {
      color: #323536;
    }
    .location_a__current, .location_a__current:hover {
      border-color: transparent;
      color: #0982d3;
    }

/* CALL DIALOG
---------------------------------------------------------------------------------------------------- */
.call {

}
  .call_phone {
    font-family: 'PFSquareSansProMedium';
    font-size: 7.2rem;
    margin-left: 4rem;
  }
  .call_cummary {
    color: #a3a3a4;
    font-size: 1.6rem;
    margin-left: 4rem;
  }

/* REGISTER DIALOG
---------------------------------------------------------------------------------------------------- */
.dialog__register,
.dialog__login,
.dialog__recover-password,
.dialog__change-password {
  padding: 4rem;
  width: 265px;
}
.dialog__recover-password {
  width: 305px;
}
.dialog__register .dialog_title,
.dialog__login .dialog_title,
.dialog__recover-password .dialog_title,
.dialog__change-password .dialog_title {
  margin-left: 0;
}