/* NAVBAR
---------------------------------------------------------------------------------------------------- */
.navbar {
  background: #00000a;
  padding: 1rem 0 1.2rem;
}
  .navbar_group {
    float: left;
    margin-right: 40px;
  }
    .navbar_i, .navbar_i:hover {
      clear: left;
      color: #fff;
      font-size: 1.2rem;
      float: left;
    }
  .navbar_group__search {
    float: right;
    margin-right: 0;
    width: 166px;
  }
    .search-form {
      position: relative;
      z-index: 1000;
    }
      .search-form_button {
        background: url(/img/ico-20.png) -20px 0 no-repeat;
        border: none;
        cursor: pointer;
        height: 20px;
        left: 8px;
        margin-top: -10px;
        position: absolute;
        top: 50%;
        width: 20px;
        z-index: 1001;
      }
      .search-form_text {
        padding: 0 1rem 0 3rem;
      }

/* HEADER
---------------------------------------------------------------------------------------------------- */
.header {
  margin-bottom: 2.5rem;
  padding: 2rem 0;
}

/* Logo */
.header-logo {

}
  .header-logo_title {
    color: #004494;
    font-size: 1.6rem;
    line-height: 3rem;
  }
  .header-logo_img {
    vertical-align: middle;
  }
  .header-logo_contacts {
    color: #7c7c7d;
    font-size: 1.2rem;
    line-height: 2.8rem;
  }
  .header-logo_contacts:hover {
    color: #7c7c7d;
  }

/* Phone */
.header-phone {
  padding-left: 20px;
  position: relative;
  top: 24px;
  z-index: 1000;
}
  .header-phone:before {
    background: url(/img/phone.png) 0 0 no-repeat;
    content: '';
    height: 32px;
    left: 0;
    position: absolute;
    top: 6px;
    width: 13px;
    z-index: 1001;
  }
  .header-phone_title {
    color: #333;
    font-size: 1.2rem;
    line-height: 2rem;
  }
  .header-phone_number {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.8rem;
    letter-spacing: -1px;
  }
  .header-phone_time {
    color: #a3a3a4;
    font-size: 1.2rem;
    line-height: 2.5rem;
  }
    .header-phone_time sup {
      font-size: .8rem;
      vertical-align: top;
    }

/* Profile */
.header-profile {
  padding-left: 75px;
  position: relative;
  top: 30px;
  z-index: 1000;
}
  .header-profile:before {
    background: url(/img/ico-20.png) 0 0 no-repeat;
    content: '';
    height: 20px;
    left: 45px;
    position: absolute;
    top: 0px;
    width: 20px;
    z-index: 1001;
  }
  .header-profile_goto {
    line-height: 1.4rem;
    margin-bottom: .9rem;
  }
  .header-profile_details {
    color: #333;
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
    .header-profile_details a {
      color: #333;
    }

/* MENU
---------------------------------------------------------------------------------------------------- */
.menu {
  margin-bottom: 1rem;
  text-align: justify;
  text-align-last: justify;
}
  .menu:after {
    content: "";
    display: inline-block;
    height: 0;
    overflow: hidden;
    width: 100%;
  }
  .menu_i {
    display: inline-block;
  }
    .menu_a {
      border-top: 2px solid transparent;
      border-bottom: 1px solid #9fa0a0;
      color: #333;
      font-size: 1.8rem;
      line-height: 1.8rem;
      padding: .5rem;
      text-transform: uppercase;
      text-decoration: none;
    }
      .menu_a:hover {
        border-color: transparent;
        color: #333;
      }
    .menu_a__stock   {border-bottom: 1px solid #cf341a;}
    .menu_a__bonuses {border-bottom: 1px solid #004494;}
    .menu_a__stock, .menu_a__stock:hover     {color: #cf341a;}
    .menu_a__bonuses, .menu_a__bonuses:hover {color: #004494;}

    .menu_a__current {
      background: #f8f8f8;
      border-top: 2px solid #0982d3;
      border-bottom: 1px solid transparent;
      border-radius: .3rem;
    }

/* SECTION
---------------------------------------------------------------------------------------------------- */
.section {
  box-shadow: inset 0 0 20px 2px #f3f3f3;
  padding-top: 2rem;
}

/* BREAD-CRUMBS
---------------------------------------------------------------------------------------------------- */
.bread-crumbs {
  height: 2rem;
  line-height: 2rem;
  margin-bottom: .7rem;
}
  .bread-crumbs_i {
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-decoration: none;
  }
  .bread-crumbs_i:hover span {
    color: #666;
    text-decoration: none;
  }
    .bread-crumbs_i span {
      color: #666;
      text-decoration: underline;
    }
    .bread-crumbs_i:after {
      color: #666;
      content: '–';
      margin-left: .3rem;
    }

/* PAGE TITLE
---------------------------------------------------------------------------------------------------- */
.page-title {
  margin-bottom: 2rem;
}

/* LIKE
---------------------------------------------------------------------------------------------------- */
.like {

}

/* FOOTER
---------------------------------------------------------------------------------------------------- */
.footer {
  background: #0a0a0a;
  padding: 4rem 0 2rem;
}
  .footer-nav {
    font-size: 1.2rem;
    line-height: 2rem;
  }
    .footer-nav_header {
      color: #fff;
      line-height: 2rem;
      margin-bottom: 2rem;
    }
    .footer-nav_i {
      clear: left;
      color: #fff;
      float: left;
    }
    .footer-nav_a, .footer-nav_a:hover {
      color: #00b6ef;
    }
    .footer-nav-social {
      clear: left;
      float: left;
      font-size: 0;
      margin-top: 1rem;
    }
      .footer-nav-social_i {
        margin-right: .6rem;
      }
  .footer_copyright {
    color: #909090;
    font-size: 1.2rem;
    line-height: 2rem;
  }