/* INDEX PAGE
---------------------------------------------------------------------------------------------------- */
.page__index {

}

  /* Promo */
  .promo {
    background: url(/img/promo.jpg) center no-repeat;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    height: 342px;
    padding-top: 150px;
  }
    .promo_title {
      color: #333;
    }
    .promo_text {
      color: #0982d3;
      line-height: 2.2rem;
      margin-bottom: 2.5rem;
    }

  /* Map */
  .map {
    height: 495px;
    padding-top: 2rem;
    position: relative;
    z-index: 1000;
  }
    .map_img {
      left: 0;
      position: absolute;
      top: 0;
      z-index: -1;
    }

  /* Article */
  .article {

  }
    .article_i {

    }
      .article_h {
        margin-bottom: 1rem;;
      }
    .article-list {

    }
      .article-list_i {
        margin-bottom: 4rem;
        position: relative;
        z-index: 1000;
      }
      .article-list_i:last-child {
        margin-bottom: 2rem;
      }
        .article-list_a {
          color: #333;
        }
        .article-list_a:hover {
          color: #333;
        }
        .article-list_datetime {
          position: absolute;
          top: -15px;
          z-index: 1001;
        }
    .article_readmore {
      padding-left: 25px;
    }

  /* News */
  .news {

  }
    .news_i {

    }
      .news_photo {
        margin-bottom: .5rem;
      }
      .news_h {
        margin-bottom: 1rem;;
      }
      .news .footer-nav-social {
        display: inline-block;
        float: none;
        margin-left: .6rem;
      }

  /* Chain stores */
  .chain-stores-img {
    margin-bottom: 2rem;
  }
  .chain-stores {

  }
    .chain-stores_i {
      margin-bottom: 2rem;
    }

/* NEWS PAGE
---------------------------------------------------------------------------------------------------- */
.page__news {

}