/* INDEX PAGE
---------------------------------------------------------------------------------------------------- */
.page__index {

}

  /* Promo */
  .promo {
    background: url(/img/promo.jpg) center no-repeat;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    height: 342px;
    padding-top: 150px;
  }
    .promo_title {
      color: #333;
      font-family: 'PFSquareSansProRegular', "PT Sans", Helvetica, Arial, sans-serif;
    }
    .promo_text {
      color: #0982d3;
      font-family: 'PFSquareSansProRegular', "PT Sans", Helvetica, Arial, sans-serif;
      line-height: 2.2rem;
      margin-bottom: 2.5rem;
    }

  /* Map */
  .map {
    height: 495px;
    padding-top: 2rem;
    position: relative;
    z-index: 1000;
  }
    .map_img {
      left: 0;
      position: absolute;
      top: 0;
      z-index: -1;
    }
    .map_point {
      background: #0982d3;
      border-radius: 50%;
      cursor: pointer;
      position: absolute;
      z-index: 1001;
    }
    .map_point__small  {width: 8px; height: 8px;}
    .map_point__normal {width: 14px; height: 14px;}
    .map_point__medium {width: 24px; height: 24px;}
    .map_point__large  {width: 42px; height: 42px;}
      .map_point > span {
        bottom: -18px;
        font-size: 1.2rem;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -moz-transform:    translate(-50%, 0);
        -ms-transform:     translate(-50%, 0);
        -o-transform:      translate(-50%, 0);
        transform:         translate(-50%, 0);
        position: absolute;
        white-space: nowrap;
        z-index: 1001;
      }
      .map_tooltip {
        background: #0982d3;
        border-radius: 5px;
        color: #fff;
        display: none;
        height: 60px;
        left: 50%;
        padding: 5px 15px 0;
        position: absolute;
        text-align: center;
        top: -75px;
        -webkit-transform: translate(-50%, 0);
        -moz-transform:    translate(-50%, 0);
        -ms-transform:     translate(-50%, 0);
        -o-transform:      translate(-50%, 0);
        transform:         translate(-50%, 0);
        width: 150px;
        z-index: 1001;
      }
      .map_tooltip:after {
        background: #0982d3;
        bottom: -6px;
        content: '';
        height: 12px;
        left: 50%;
        margin-left: -6px;
        position: absolute;
        -webkit-transform: rotate(45deg);
        -moz-transform:    rotate(45deg);
        -ms-transform:     rotate(45deg);
        -o-transform:      rotate(45deg);
        transform:         rotate(45deg);
        width: 12px;
        z-index: 1001;
      }

  /* Article */
  .article {

  }
    .article_i {

    }
      .article_h {
        margin-bottom: 1rem;;
      }
    .article-list {

    }
      .article-list_i {
        margin-bottom: 4rem;
        position: relative;
        z-index: 1000;
      }
      .article-list_i:last-child {
        margin-bottom: 2rem;
      }
        .article-list_a {
          color: #333;
        }
        .article-list_a:hover {
          color: #333;
        }
        .article-list_datetime {
          position: absolute;
          top: -15px;
          z-index: 1001;
        }
    .article_readmore {
      padding-left: 25px;
    }

  /* News */
  .news {

  }
    .news_i {

    }
      .news_photo {
        margin-bottom: .5rem;
      }
      .news_h {
        margin-bottom: 1rem;;
      }
      .news .footer-nav-social {
        display: inline-block;
        float: none;
        margin-left: .6rem;
      }

  /* Chain stores */
  .chain-stores-img {
    margin-bottom: 2rem;
  }
  .chain-stores {

  }
    .chain-stores_i {
      margin-bottom: 2rem;
    }

/* NEWS PAGE
---------------------------------------------------------------------------------------------------- */
.page__news {

}

/* ARTICLE PAGE
---------------------------------------------------------------------------------------------------- */
.page__article {

}

/* CATALOG PAGE
---------------------------------------------------------------------------------------------------- */
.page__catalog {

}

  /* Sort */
  .catalog-filter-sort {
    font-size: 1.2rem;
    vertical-align: baseline;
  }

  /* Filter */
  .catalog-filter {
    background: #f8f8f8;
  }

    /* Form */
    .catalog-filter_form {

    }
      .catalog-filter .form_label {
        cursor: pointer;
        margin-bottom: .9rem;
        padding-left: 2.5rem;
        position: relative;
        z-index: 1000;
      }
      .catalog-filter .form_el__fake {
        left: 0;
        position: absolute;
        z-index: 1001;
      }

      /* Header */
      .catalog-filter_header {
        background: #0051a0;
        color: #fff;
        margin-bottom: 17px;
        padding: 1.6rem 0 .6rem;
        position: relative;
        text-transform: uppercase;
        text-align: center;
        z-index: 9999;
      }
        .catalog-filter_header:before, .catalog-filter_header:after {
          bottom: -15px;
          content: '';
          height: 0;
          left: 0;
          position: absolute;
          width: 0;
          z-index: 1001;
        }
        .catalog-filter_header:before {
          border-left: 100px solid transparent;
          border-top: 15px solid #0051a0;
        }
        .catalog-filter_header:before {
          border-right: 100px solid transparent;
          border-top: 15px solid #0051a0;
        }

      /* Section block */
      .catalog-filter_section {
        padding: 1.3rem 1.5rem .6rem;
      }
      .catalog-filter_section__bordered {
        border-bottom: 1px solid #e0e0e0;
      }
        .catalog-filter_t {
          font-weight: 700;
          margin-bottom: .7rem;
          position: relative;
          z-index: 9999;
        }
          .catalog-filter_help {
            background: #00a9e0;
            border-radius: 50%;
            color: #fff;
            height: 10px;
            font-size: .8rem;
            line-height: 10px;
            position: absolute;
            right: -12px;
            top: 4px;
            text-align: center;
            text-decoration: none;
            width: 10px;
            z-index: 1001;
          }
          .catalog-filter_help:hover {color: #fff;}
          .catalog-filter_tooltip {
            background: #fff;
            border: 1px solid #3f94bb;
            font-size: 1.4rem;
            font-weight: 100;
            padding: 1rem;
            position: absolute;
            width: 230px;
            z-index: 9999;
          }

      /* Footer */
      .catalog-filter_footer {
        text-align: center;
        position: relative;
        top: 16px;
        z-index: 1000;
      }

/* BASKET PAGE
---------------------------------------------------------------------------------------------------- */
.page__basket {

}
  .page__basket .page-title {
    margin-top: 2.7rem;
  }

  /* Basket */
  .basket {

  }
    /* Goods list */
    .basket-goods {
      margin-bottom: 1.4rem;
    }
      .basket-goods-i {
        border-bottom: 1px solid #e5e5e5;
        margin-bottom: 0;
        padding: 2rem 0;
      }
        .basket-goods-i_img {
          vertical-align: top;
        }
        .basket-goods-i_a {
          color: #333;
          font-weight: 700;
          margin: .3rem 0 .5rem;
        }
        .basket-goods-i-count {
          font-size: 0;
        }
          .basket-goods-i-count_input {
            border: none;
            border-bottom: 1px solid #bebebe;
            border-top: 1px solid #bebebe;
            font-size: 1.8rem;
            height: 32px;
            text-align: center;
            width: 35px;
          }
          .basket-goods-i-count_control {
            background: rgb(255,255,255);
            background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(199,199,199,1) 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(199,199,199,1)));
            background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(199,199,199,1) 100%);
            background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(199,199,199,1) 100%);
            background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(199,199,199,1) 100%);
            background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(199,199,199,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c7c7c7',GradientType=0 );
            border-bottom: 1px solid #c7c7c7;
            color: #7b7b7b;
            cursor: pointer;
            display: inline-block;
            font-size: 1.8rem;
            font-weight: 700;
            height: 31px;
            line-height: 31px;
            text-align: center;
            width: 21px;
            vertical-align: top;
          }
          .basket-goods-i-count_control__minus {
            border-left: 1px solid #ababab;
            border-right: 1px solid #bebebe;
          }
          .basket-goods-i-count_control__plus {
            border-left: 1px solid #bebebe;
            border-right: 1px solid #ababab;
          }
        .basket-goods-i_remove {
          position: absolute;
          right: 0;
          top: 2.5rem;
          z-index: 1001;
        }

    /* Basket units  */
    .basket-units {
      left: -20px;
      margin-bottom: 3.6rem;
      position: relative;
      width: 900px;
      z-index: 1000;
    }
      .basket-units_t {
        margin-bottom: .9rem;
        margin-left: 20px;
      }
      .basket-units-i {
        border: 1px solid #eee;
        display: inline-block;
        padding: 35px 0 20px 0;
        margin-left: -1px;
        width: 299px;
      }
        .basket-units-i_img {
          float: left;
          width: 72px;
        }
        .basket-units-i_caption {
          float: left;
          padding: 0 25px;
          width: 177px;
        }
          .basket-units-i_a {
            color: #333;
            line-height: 20px;
            margin: 2px 0 4px;
          }
          .basket-units-i_a:hover {
            color: #333;
          }
          .basket-units-i_price {
            color: #0982d3;
            font-size: 2.4rem;
            font-weight: 700;
          }
          .basket-units-i_add {
            position: absolute;
            right: -45px;
            top: 0;
            z-index: 1000;
          }
    /* Basket items */
    .basket-i {

    }
      .basket-i__open .basket-i-b {
        display: open;
      }
      .basket-i__close .basket-i-b {
        display: none;
      }
      .basket-i-h {
        background: #f8f8f8;
        border-top: 3px solid #f8f8f8;
        color: #b3b3b3;
        cursor: pointer;
        font-family: 'PFSquareSansProMedium', "PT Sans", Helvetica, Arial, sans-serif;
        font-size: 4rem;
        height: 5.7rem;
        left: -20px;
        line-height: 5.4rem;
        margin-bottom: 2rem;
        padding-left: 5rem;
        position: relative;
        width: 850px;
        z-index: 1000;
      }
      .basket-i__current .basket-i-h {
        border-top: 3px solid #0982d3;
        color: #010104;
      }
        .basket-i-h_n {
          background: #ccc;
          border-radius: 50%;
          color: #fff;
          display: inline-block;
          font-size: 1.8rem;
          height: 3rem;
          left: 10px;
          line-height: 3rem;
          position: absolute;
          text-align: center;
          top: 1.4rem;
          width: 3rem;
          z-index: 1001;
        }
        .basket-i__current .basket-i-h_n {
          background: #0982d3;
        }
      .basket-i-b {

      }
      .basket-i_to           .basket-i-b {padding-bottom: 4rem;}
      .basket-i_where        .basket-i-b {padding-bottom: 2rem;}
      .basket-i_payment      .basket-i-b {padding-bottom: 4rem;}
      .basket-i_confirmation .basket-i-b {}
        /* Shipping Method */
        .basket-i-b_shipping-method {
          color: #333;
          display: inline-block;
          height: 4rem;
          line-height: 4rem;
          margin-right: 2rem;
          text-decoration: none;
        }
        .basket-i-b_shipping-method:hover {
          color: #333;
        }
          .basket-i-b_shipping-method > span {
            border-bottom: 1px dashed #333;
          }
        /* Shipping details */
        .basket-i-b_shipping-details {
          border: 2px solid #0982d3;
          border-radius: .5rem;
          display: inline-block;
          height: 3rem;
          line-height: 3rem;
          padding: 0 1rem;
          position: relative;
          z-index: 1000;
        }
          .basket-i-b_shipping-details:before, .basket-i-b_shipping-details:after {
            content: '';
            left: 50%;
            position: absolute;
            z-index: 1001;
          }
          .basket-i-b_shipping-details:before {
            background: #0982d3;
            bottom: -6px;
            height: 8px;
            margin-left: -4px;
            -webkit-transform: rotate(45deg);
            -moz-transform:    rotate(45deg);
            -ms-transform:     rotate(45deg);
            -o-transform:      rotate(45deg);
            transform:         rotate(45deg);
            width: 8px;
          }
          .basket-i-b_shipping-details:after {
            background: #fff;
            bottom: 0;
            height: 8px;
            margin-left: -4px;
            width: 8px;;
          }
        /* Text input label */
        .basket-i-b_label {
          display: inline-block;
          font-style: italic;
          margin-bottom: .5rem;
        }
        /* Radio label */
        .basket-i-b .form_label {
          cursor: pointer;
          margin-bottom: .6rem;
        }
        /* Buyer list */
        .basket-i-b_buyer-list > li {
          margin-bottom: .5rem;
        }
        /* Details */
        .basket-i-b_details {
          font-family: 'PFSquareSansProMedium', "PT Sans", Helvetica, Arial, sans-serif;
          height: 2rem;
          line-height: 2rem;
          margin-bottom: 1.5rem;
        }

/* AVAILABILITY
---------------------------------------------------------------------------------------------------- */
.availability {

}
  .availability-header {
    margin-bottom: 2rem;
  }
  .availability-section {
    height: 150px;
    margin-bottom: 0rem;
    overflow: hidden;
    position: relative;
    z-index: 1000;
  }
  .availability-section__fade:before {
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 66%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(66%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 66%);
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 66%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 66%);
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 66%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
    bottom: 0;
    content: '';
    height: 50px;
    position: absolute;
    width: 100%;
    z-index: 1001;
  }
    .availability-section-quantity {
      margin-bottom: 1.5rem;
      line-height: 1.25;
    }
      .availability-section-quantity_location-address {
        float: left;
        padding-left: 15px;
        position: relative;
        width: 163px;
        z-index: 1000;
      }
      .availability-section-quantity_location-address__blue:before, .availability-section-quantity_location-address__red:before, .availability-section-quantity_location-address__green:before {
        content: '';
        border-radius: 50%;
        height: 8px;
        left: 0;
        position: absolute;
        top: 5px;
        width: 8px;
        z-index: 1001;
      }
      .availability-section-quantity_location-address__blue:before  {background: #00a7e0;}
      .availability-section-quantity_location-address__red:before   {background: #ff5700;}
      .availability-section-quantity_location-address__green:before {background: #80a700;}
      .availability-section-quantity_location-name {
        float: left;
        width: 178px;
      }
      .availability-section-quantity_location-number {
        float: left;
        width: 60px;
      }
  .availability-footer {
    text-align: center;
  }

/* GALLERY
---------------------------------------------------------------------------------------------------- */
.gallery {

}
  .gallery_viewport {
    margin-bottom: 2rem;
  }
    .gallery_img {
      height: 420px;
      width: 420px;
    }
    .gallery-nav {
      font-size: 0;
      text-align: center;
      padding: 0 25px;
    }
      .gallery-nav_i {
        border: 1px solid #e8e8e8;
        display: inline-block;
        height: 45px;
        margin: 0 10px 20px 10px;
        width: 45px;
      }
      .gallery-nav_i__current {
        border: 1px solid #00b7ef;
      }

/* DELIVERY
---------------------------------------------------------------------------------------------------- */
.delivery {
  color: #2e2e2e;
}
  .delivery_strong {
    color: #00a7e0;
    font-weight: 100;    
  }

/* TABS
---------------------------------------------------------------------------------------------------- */
.ui-tabs {

}
  .ui-tabs-nav {
    font-size: 0;
  }
    .ui-state-default {
      background: #ffffff;
      background: -moz-linear-gradient(top,  #ffffff 0%, #e2e2e2 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e2e2e2));
      background: -webkit-linear-gradient(top,  #ffffff 0%,#e2e2e2 100%);
      background: -o-linear-gradient(top,  #ffffff 0%,#e2e2e2 100%);
      background: -ms-linear-gradient(top,  #ffffff 0%,#e2e2e2 100%);
      background: linear-gradient(to bottom,  #ffffff 0%,#e2e2e2 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e2e2e2',GradientType=0 );
      border-left:  1px solid #ccc;
      border-right: 1px solid #ccc;
      border-top:   1px solid #ccc;
      border-radius: .4rem .4rem 0 0;
      box-shadow: inset 0 -.3rem .5rem .1rem #e2e2e2;
      display: inline-block;
      height: 4rem;
      line-height: 4rem;
      padding: 0 1.5rem;
      margin-right: .2rem;
    }
    .ui-state-active {
      background: #fff;
      border-color: #e8e8e8;
      box-shadow: none;
    }
      .ui-tabs-anchor {
        border-bottom: 1px dashed #8c8c8d;
        color: #8c8c8d;
        font-size: 1.8rem;
        line-height: 2rem;
        position: relative;
        top: 5px;
        text-decoration: none;
        z-index: 1000;
      }
      .ui-state-active .ui-tabs-anchor {
        border-bottom: 1px dashed transparent;
        color: #010104;
      }
      .ui-state-active .ui-tabs-anchor:hover {
        color: #010104;
      }
      .ui-tabs-anchor:hover {
        color: #8c8c8d;
      }
  .ui-tabs-panel {
    padding-top: 4rem;
  }

/* DIALOG
---------------------------------------------------------------------------------------------------- */
.dialog {
  background: #fff;
  border-radius: .5rem;
  box-shadow: 0 0 5rem .5rem #bababa;
  display: none;
  padding: 3rem 0;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
    -moz-transform:  translate(-50%, -50%);
     -ms-transform:  translate(-50%, -50%);
      -o-transform:  translate(-50%, -50%);
         transform:  translate(-50%, -50%);    
  width: 640px;
  z-index: 9999;
}
  .dialog_close {
    height: 23px;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 23px;
    z-index: 9999;
  }
  .dialog_title {
    border-bottom: 3px solid #0982d3; 
    display: inline-block;
    margin-bottom: 2.5rem;
    margin-left: 4rem;
  }
  .dialog_remember {
    cursor: pointer;
    margin-left: 4rem;
    position: relative;
    top: 1rem;
  }
    .dialog_remember .form_el__fake {
      position: relative;
      top: 3px;
    }

/* LOCATION FOR DIALOG
---------------------------------------------------------------------------------------------------- */
.location {

}
  .location_i {
    margin-bottom: 1rem;
    margin-left: 4rem;
  }
    .location_a {
      border-bottom: 1px dashed #000;
      color: #323536;
      font-size: 1.6rem;
      text-decoration: none;
    }
    .location_a:hover {
      color: #323536;
    }
    .location_a__current, .location_a__current:hover {
      border-color: transparent;
      color: #0982d3;
    }

/* CALL FOR DIALOG
---------------------------------------------------------------------------------------------------- */
.call {

}
  .call_phone {
    font-family: 'PFSquareSansProMedium';
    font-size: 7.2rem;
    margin-left: 4rem;
  }
  .call_cummary {
    color: #a3a3a4;
    font-size: 1.6rem;
    margin-left: 4rem;
  }